html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 840px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ebedeb;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "HelveticaNeue";
    white-space: nowrap;
}

.header-label {
    font-size: 35px;
    font-weight: bold;
    line-height: 43px;
}

.user-label {
    flex-grow: 1;
    padding-left: 15px;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trigger-area {
    display: flex;
    padding-left: 30px;
}

.trigger-label {
    padding-left: 5px;
}

.content {

}
