html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 840px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ebedeb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "HelveticaNeue";
    white-space: nowrap;
}

.header-label {
    font-size: 35px;
    font-weight: bold;
    line-height: 43px;
}

.user-label {
    flex-grow: 1;
    padding-left: 15px;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trigger-area {
    display: flex;
    padding-left: 30px;
}

.trigger-label {
    padding-left: 5px;
}

.content {
    margin-top: 30px;
    font-family: "HelveticaNeue";
}

.card {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}

.card:not(.half):last-child {
    margin-bottom: 0;
}

.half {
    box-sizing: border-box;
    display: inline-block;
    width: calc(50% - 15px);
}

.half:nth-child(2n) {
    float: right;
}

.half:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.card-host-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 23px;
}

.card-host-top-apps {
    display: flex;
    margin-bottom: 23px;
}

.card-host-top-apps:last-child {
    margin-bottom: 0;
}

.card-host-top-apps-wrapper {
    color: #4A4A4A;
}

.top-app-name {
    flex: 1;
    padding-left: 23px;
}

.apdex-number {
    width: 2rem;
    text-align: right;
}
